openapi: 3.2.0
info:
  title: Sendpulse Contacts API
  x-refined-note:
  - x-ai-description differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Contacts across 9 of this provider''s published API definitions: sendpulse-crm-openapi.yml, sendpulse-facebook-openapi.yml, sendpulse-instagram-openapi.yml, sendpulse-live-chat-openapi.yml, sendpulse-sms-openapi.yml, sendpulse-telegram-openapi.yml, sendpulse-tiktok-openapi.yml, sendpulse-viber-chatbot-openapi.yml, sendpulse-whatsapp-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.sendpulse.com/crm/v1
- description: ''
  url: https://api.sendpulse.com/messenger
- description: ''
  url: https://api.sendpulse.com/instagram
- description: ''
  url: https://api.sendpulse.com/live-chat
- url: https://api.sendpulse.com
- description: ''
  url: https://api.sendpulse.com/telegram
- description: ''
  url: https://api.sendpulse.com/tiktok
- description: ''
  url: https://api.sendpulse.com/viber/chatbots
- description: ''
  url: https://api.sendpulse.com/whatsapp
security:
- apiKey: []
- oauth2: []
tags:
- description: ''
  name: Contacts
paths:
  /contacts/get-list:
    post:
      tags:
      - Contacts
      summary: Get contacts list
      requestBody:
        content:
          application/json:
            schema:
              properties:
                limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                offset:
                  type: integer
                  minimum: 0
                from:
                  type: string
                  format: date
                  description: Contact creation date, filter start date. Accepted format YYYY-MM-DD
                to:
                  type: string
                  format: date
                  description: Contact creation date, filter end date. Accepted format YYYY-MM-DD
                updateFrom:
                  type: string
                  format: date
                  description: Contact updated date, filter start date. Accepted format YYYY-MM-DD
                updateTo:
                  type: string
                  format: date
                  description: Contact updated date, filter end date. Accepted format YYYY-MM-DD
                firstName:
                  type: string
                  description: Contacts first name you want to search for
                lastName:
                  type: string
                  description: Contacts last name you want to search for
                responsibleIds:
                  type: array
                  description: A list with the ID of users assigned to the contact you want to to search for. It can be obtained with the "Get a list of team members" method
                  items:
                    type: integer
                sourceType:
                  type: array
                  items:
                    type: integer
                    enum:
                    - 1
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 8
                    - 9
                    - 10
                phone:
                  type: string
                  description: Phone number of a contact
                email:
                  type: string
                tagIds:
                  type: array
                  items:
                    type: integer
                messengerTypeIds:
                  type: array
                  items:
                    type: integer
                messengerLogin:
                  type: string
                sortBy:
                  type: object
                  properties:
                    direction:
                      type: string
                      description: 'Sorting direction. Possible values: asc — ascending order; desc — descending order.'
                      enum:
                      - asc
                      - desc
                    fieldName:
                      type: string
                      enum:
                      - id
                      - created_at
                      - first_name
                      - attributeId
                      - responsible_id
                      example: id
                attributes:
                  $ref: '#/components/schemas/AttributesProperty'
                location:
                  type: string
                fieldValueConditions:
                  type: array
                  items:
                    type: object
                    properties:
                      field:
                        type: string
                        description: Field name
                        enum:
                        - attributes
                        - lastName
                        - phones
                        - emails
                        - messengers
                        - location
                        - tags
                      expression:
                        type: string
                        description: '| Possible values:

                          - eq (=) - neq (!=) - gt (>) - gte (>=) - lt (<) - lte (<=) - like - in (check among list of values).'
                      value:
                        description: Can have array or string type
                ids:
                  type: array
                  description: Array of contacts IDs
                  items:
                    type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      list:
                        items:
                          $ref: '#/components/schemas/Contact'
                      total:
                        type: integer
                      searchRequest:
                        type: string
      operationId: getContactsList
      x-ai-role: crm_data_analyst
      x-ai-description: Powerful filtered search across the CRM contact base. Unlike a simple list fetch, this endpoint supports multi-dimensional filtering — by creation/update date ranges, assigned team members, source types, tags, messengers, custom attributes, and field-level conditions. Used to build segmented views, audit contact data, or feed downstream automation with a precise contact subset.
      x-ai-reasoning-instructions:
      - Combine filters additively — all provided conditions are applied simultaneously (AND logic), so overly specific combinations may return empty results.
      - Use `from`/`to` for filtering by creation date and `updateFrom`/`updateTo` for recently modified contacts — do not mix up the two date ranges.
      - When filtering by `responsibleIds`, first call 'Get a list of team members' to resolve names to IDs.
      - Paginate using `limit` (max 100) and `offset` — for large datasets, iterate until `total` is exhausted.
      - If `fieldValueConditions` is used, ensure `field` names match the schema enum — typos cause silent empty results.
      - For sorting by a custom attribute, use `attributeId` as `fieldName` and provide the actual attribute ID.
      - When the user describes a search intent in natural language, map it to the most specific available filters before falling back to broad ones.
      x-ai-responding-instructions:
      - Report the total count from `searchRequest` or `total` field alongside the list — it helps the user understand whether they got all results or need to paginate.
      - If the result list is empty, suggest reviewing the filter combination — one overly restrictive condition is often the cause.
      - When returning a subset of a large dataset, remind the user to paginate with `offset` to retrieve remaining records.
      - If the user searched by a specific filter (e.g., tag, responsible), confirm which filter was applied and how many contacts matched.
      x-ai-suggestions:
      - Filter contacts created in the last 30 days using `from`/`to` date range.
      - Use `tagIds` + `messengerTypeIds` together to find contacts reachable via a specific channel with a given tag.
      - Sort by `created_at` descending to get the newest contacts first.
      - 'Use `fieldValueConditions` with `expression: like` for partial name/email matching when exact values are unknown.'
      x-ai-capabilities:
        confirmation:
          type: None
        security_info:
          data_handling:
          - ReadOnly
    servers:
    - url: https://api.sendpulse.com/crm/v1
  /contacts/get-list-by-email:
    post:
      tags:
      - Contacts
      summary: Search contacts by email
      description: 'Returns contacts and the following information about each: the contact ID, the assigned person and the contact information'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  type: string
                  description: Email address of a contact
                isEmailFullSearch:
                  type: boolean
                  description: Search for emails that match completely or partially (true/false)
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      list:
                        description: List with contacts
                        type: array
                        items:
                          $ref: '#/components/schemas/Contact'
                      total:
                        description: Total number of filtered records for pagination
                        type: integer
      operationId: getContactListByEmail
      x-ai-role: crm_data_analyst
      x-ai-description: Performs a lookup of CRM contacts by email address, returning full contact records including assigned responsible persons and contact details. Useful for deduplication checks, pre-call research, and verifying whether a lead already exists before creating a new one. The partial-match mode makes it effective for domain-level searches (e.g., finding all contacts from a company).
      x-ai-reasoning-instructions:
      - If the user provides a full email address, default isEmailFullSearch to true to avoid unrelated results.
      - When the user wants to find all contacts from a domain (e.g., '@company.com'), set isEmailFullSearch to false for partial matching.
      - Before creating a new contact, suggest running this search first to prevent duplicates.
      - Use the returned total field to determine if pagination is needed — if total exceeds the returned list size, advise the user to paginate.
      x-ai-responding-instructions:
      - Report how many contacts were found (use the total field, not the list length).
      - If a single exact match is found, surface the contact ID and assigned person prominently.
      - 'If no contacts are found, suggest trying partial search (isEmailFullSearch: false) or verifying the email spelling.'
      - If multiple contacts are returned, summarize them as a list with ID, name, and assigned person.
      x-ai-suggestions:
      - 'Use isEmailFullSearch: false to find all contacts sharing an email domain.'
      - Combine results with getContact to retrieve full contact details by ID.
      - Run this before createContact to enforce uniqueness within the CRM.
      x-ai-capabilities:
        confirmation:
          type: None
        security_info:
          data_handling:
          - ReadOnly
    servers:
    - url: https://api.sendpulse.com/crm/v1
  /contacts:
    post:
      deprecated: true
      tags:
      - Contacts
      summary: (Deprecated). Use POST /contacts/create instead to create a new contact
      description: Creates a contact with the given properties and returns a copy of the information, including the ID
      requestBody:
        content:
          application/json:
            schema:
              properties:
                responsibleId:
                  type: integer
                  description: Team member ID to assign to a contact. It can be obtained with the "Get a list of team members" method
                firstName:
                  type: string
                  description: Contact first name
                lastName:
                  type: string
                  description: Contact last name
                phones:
                  type: array
                  description: List of phone numbers in the international format
                  items:
                    type: string
                emails:
                  type: array
                  description: List of email addresses
                  items:
                    type: string
                tags:
                  type: array
                  description: List of tag IDs to be added to a contact. It can be obtained with the "Get a list of contact tags" method
                  items:
                    type: integer
                attributes:
                  type: array
                  description: 'List of fields to add to the contact. Pass in the attributes field array an object with the attributeId and value fields (will create a contact with an already existing attribute) Pass in the attributes field

                    array an object with the name, type , value fields (will create a contact with a new attribute

                    if there is no such attribute yet or create a contact with an existing attribute if the attribute already exists)''

                    '
                  items:
                    properties:
                      name:
                        type: string
                        description: Attribute name
                      value:
                        type: string
                        description: Attribute value
                      type:
                        type: integer
                        description: 0 - text, 1 - number, 2 - date, 3 - link, 4 - select , 5 - multiSelect
                    required:
                    - name
                    - value
                messengers:
                  type: array
                  description: List of messengers to add to a contact
                  items:
                    properties:
                      typeId:
                        $ref: '#/components/schemas/MessengerTypeProperty'
                      login:
                        type: string
                        description: Contacts login in the specified messenger
                    required:
                    - typeId
                    - login
                attachments:
                  type: array
                  items:
                    type: string
                  description: First, the file must be uploaded to the file manager, and then the file can be attached.
                  example:
                  - /personal/deal/sendPulse_crm_deals.csv
              required:
              - responsibleId
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Contact'
      operationId: createContact
      x-ai-role: crm_data_entry_specialist
      x-ai-description: Deprecated endpoint for creating a CRM contact with full profile data including phones, emails, messengers, custom attributes, and file attachments. Replaced by POST /contacts/create — use that instead for all new integrations. This endpoint remains for backward compatibility only.
      x-ai-reasoning-instructions:
      - This endpoint is deprecated — always redirect the user to POST /contacts/create unless they explicitly need backward compatibility.
      - Before creating, consider checking for duplicate contacts by phone or email to avoid data pollution in the CRM.
      - The `responsibleId` is required — ensure the team member ID is obtained via the 'Get a list of team members' method before calling.
      - For `attributes`, clarify whether existing attributes (by `attributeId`) or new ones (by `name`+`type`) are intended — the behavior differs.
      - File attachments must be pre-uploaded via the file manager; raw file data cannot be passed directly.
      - Messenger `typeId` must reference a valid enum value — confirm the correct messenger type before constructing the payload.
      x-ai-responding-instructions:
      - Warn the user that this endpoint is deprecated and recommend migrating to POST /contacts/create.
      - On success, highlight the new contact ID from the returned `data.Contact` object.
      - If attributes were created as new (by name), note that they are now persistent CRM attributes shared across contacts.
      - Suggest following up with assigning the contact to a deal or pipeline stage as a next logical step.
      x-ai-suggestions:
      - Use POST /contacts/create for all new contact creation workflows.
      - Retrieve valid `responsibleId` values via GET /team before calling this endpoint.
      - Retrieve valid tag IDs via GET /contacts/tags before assigning tags.
      x-ai-capabilities:
        confirmation:
          type: Recommended
          message: Creating a contact will persist it in the CRM and may trigger automations or assignments.
        security_info:
          data_handling:
          - ResourceStateCreate
          - PersonalDataStorage
    servers:
    - url: https://api.sendpulse.com/crm/v1
  /contacts/create:
    post:
      tags:
      - Contacts
      summary: Create a new contact
      description: Creates a contact
      requestBody:
        content:
          application/json:
            schema:
              properties:
                responsibleId:
                  type: integer
                  description: Team member ID to assign to a contact. It can be obtained with the "Get a list of team members" method
                firstName:
                  type: string
                  description: Contact first name
                lastName:
                  type: string
                  description: Contact last name
                externalContactId:
                  type: string
                  description: External contact ID field for services data - we do not recommend using it to add an ID from third-party systems
              required:
              - responsibleId
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Contact'
      operationId: createContact
      x-ai-role: crm_specialist
      x-ai-description: Initializes a new contact record in the CRM. A contact is the foundational entity in SendPulse CRM — assigning a responsible team member at creation time ensures immediate ownership and enables automated routing, task assignment, and follow-up pipelines from the first interaction.
      x-ai-reasoning-instructions:
      - Before creating, verify the responsibleId is valid by cross-referencing with the 'Get a list of team members' endpoint.
      - Avoid using externalContactId for third-party system IDs as it is not recommended — suggest alternative approaches if the user intends to map external records.
      - If both firstName and lastName are omitted, warn the user that the contact will be anonymous, which may hinder identification later.
      - Check whether a contact with the same name or external ID might already exist to prevent duplicates.
      x-ai-responding-instructions:
      - Confirm creation by surfacing the new contact's ID from the returned Contact object.
      - Suggest populating the contact with additional data (phone, email, deals) as an immediate next step.
      - If the responsibleId is invalid, explain that the value must come from the team members list and guide the user to retrieve it.
      x-ai-suggestions:
      - Use 'Get a list of team members' to obtain a valid responsibleId before calling this endpoint.
      - After creation, use 'Create a deal' to associate a sales opportunity with the new contact.
      - Consider adding tags or custom fields immediately after creation to enrich the contact profile.
      x-ai-capabilities:
        confirmation:
          type: None
        security_info:
          data_handling:
          - ResourceStateUpdate
          - PersonalDataStorage
    servers:
    - url: https://api.sendpulse.com/crm/v1
  /contacts/{contactId}:
    get:
      tags:
      - Contacts
      summary: Get information about a contact by ID
      description: 'Returns the following information on the specified contact: ID, team member responsible for the contact, first and Contacts last name, number of deals of the contact, list of phone numbers and email addresses, and messengers of the contact'
      parameters:
      - name: contactId
        in: path
        required: true
        description: Contact ID for which you want to get information. It can be obtained with the "Get a list of contacts" method
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Contact'
      operationId: getContactById
      x-ai-role: crm_data_analyst
      x-ai-description: Retrieves a complete profile of a single CRM contact by their unique ID. This is the primary lookup endpoint for building contact detail views, pre-filling forms before edits, or resolving a contact reference obtained from a list or deal. The response aggregates identity, ownership, communication channels, and deal history into one call — avoiding multiple round-trips.
      x-ai-reasoning-instructions:
      - Ensure the contactId was obtained from a trusted source such as `getContacts` or a deal's contact reference — do not guess or construct IDs.
      - If the previous call returned a list, extract the correct ID before calling this endpoint.
      - Check whether the caller needs only basic identity info or full channel data; this endpoint returns both, so no supplemental calls are needed.
      - If the response is needed to pre-fill an edit form, cache it locally to avoid redundant requests.
      x-ai-responding-instructions:
      - Present the contact's full name, responsible team member, and contact channels (phone, email, messengers) in a structured, readable format.
      - Highlight the number of associated deals to give the user a quick sense of the contact's activity level.
      - If the contact has multiple phone numbers or emails, list all of them clearly — do not omit secondary entries.
      - Suggest logical next steps such as updating the contact, viewing associated deals, or initiating communication.
      x-ai-suggestions:
      - Use `getContacts` first to search by name or email and obtain the contactId.
      - After retrieving the contact, you can update their data with the corresponding PATCH /contacts/{contactId} endpoint.
      - To see deals linked to this contact, query the deals endpoint filtered by this contactId.
      x-ai-capabilities:
        confirmation:
          type: None
        security_info:
          data_handling:
          - ReadOnly
    put:
      tags:
      - Contacts
      summary: Update information about the contact
      description: Update information about specified contact
      parameters:
      - name: contactId
        in: path
        required: true
        description: Contact ID of the contact whose information you want to update. It can be obtained with the "Get a list of contacts" method
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                responsibleId:
                  type: integer
                  description: Team member ID to assign to a contact. It can be obtained with the "Get a list of team members" method
                firstName:
                  type: string
                  description: Contact first name
                lastName:
                  type: string
                  description: Contact last name
              required:
              - responsibleId
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Contact'
      operationId: updateContact
      x-ai-role: crm_data_steward
      x-ai-description: Updates mutable fields of an existing CRM contact record. This is the primary mutation endpoint for keeping contact profiles accurate — ownership reassignment (responsibleId) is mandatory, making it suitable for both data corrections and responsibility handoffs between team members.
      x-ai-reasoning-instructions:
      - Retrieve the contactId first via 'Get a list of contacts' if not already known — never guess or fabricate IDs.
      - responsibleId is required; confirm the target team member exists via 'Get a list of team members' before calling.
      - If only name fields are changing, still supply the current responsibleId to avoid unintended ownership transfer.
      - Warn the user if they are reassigning a contact to a different team member, as this affects pipeline visibility and notifications.
      x-ai-responding-instructions:
      - Confirm which fields were updated and reflect the new values back to the user.
      - If responsibleId changed, explicitly mention the ownership transfer and to whom.
      - Suggest fetching the updated contact via 'Get contact details' to verify the full record state.
      - On 404, clarify that the contactId may be invalid or the contact may have been deleted.
      x-ai-suggestions:
      - Use 'Get a list of team members' to resolve a name to a valid responsibleId before calling.
      - Combine with 'Get a list of contacts' to batch-update contacts by segment.
      x-ai-capabilities:
        confirmation:
          type: Recommended
          message: Confirm before reassigning contact ownership, as it affects team workload distribution.
        security_info:
          data_handling:
          - ResourceStateUpdate
    delete:
      tags:
      - Contacts
      summary: Remove contact by ID
      description: Removes the specified contact by ID
      parameters:
      - name: contactId
        in: path
        required: true
        description: Contact ID to be removed. It can be obtained with the "Get a list of contacts" method
        schema:
          type: integer
      responses:
        '204':
          description: Successfully deleted
      operationId: deleteContactById
      x-ai-role: crm_data_steward
      x-ai-description: Permanently removes a contact record from the system by its unique identifier. This is a hard-delete operation — the contact and all associated data (tags, custom fields, activity history) are irreversibly erased. Use when a contact explicitly opts out under GDPR/CCPA or when cleaning up test/duplicate records.
      x-ai-reasoning-instructions:
      - Before deleting, confirm with the user that this is intentional — deletion is irreversible and cannot be undone.
      - Verify the contactId exists by calling the 'Get a list of contacts' method if the ID was not obtained in the current session.
      - Check whether the contact is currently enrolled in active automations or campaigns — deletion mid-flow may cause broken sequences.
      - If the intent is GDPR/CCPA erasure, ensure this call is part of a broader data-removal workflow (e.g., also remove from mailing lists).
      x-ai-responding-instructions:
      - Confirm deletion with the contactId that was removed.
      - Remind the user that this action is permanent and the contact cannot be restored.
      - If the use case is compliance-driven, suggest verifying removal across all related resources (lists, automations, CRM deals).
      - On 404, clarify that the contact may have already been deleted or the ID is incorrect.
      x-ai-capabilities:
        confirmation:
          type: Required
          message: 'This will permanently delete contact #{contactId}. This action cannot be undone.'
        security_info:
          data_handling:
          - IrreversibleDelete
          - PiiDataRemoval
    servers:
    - url: https://api.sendpulse.com/crm/v1
  /contacts/{contactId}/deals:
    get:
      tags:
      - Contacts
      summary: Get all deals that related to contact
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: deals list
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Deal'
      operationId: getContactDeals
      x-ai-role: crm_sales_analyst
      x-ai-description: Retrieves the full list of deals associated with a specific contact, providing a 360-degree view of the sales relationship. Use this to assess pipeline health for an individual contact, identify stalled deals, or understand a contact's purchase history before outreach.
      x-ai-reasoning-instructions:
      - Verify the contactId is valid before calling — an incorrect ID returns an empty dataset or 404, not an error.
      - Consider whether the user wants all deals or a filtered subset; this endpoint returns all, so post-filter by status if needed.
      - If the result set is empty, distinguish between 'contact exists but has no deals' and 'contact not found' scenarios for the user.
      x-ai-responding-instructions:
      - Summarize the deals by status (e.g., open, won, lost) rather than listing raw data.
      - Highlight any deals in critical stages (e.g., negotiation, closing) that may require immediate action.
      - If no deals are found, suggest creating a deal with the relevant create-deal endpoint.
      x-ai-suggestions:
      - Use the returned deal IDs to fetch individual deal details or update deal stages.
      - Cross-reference with contact activity to prioritize follow-ups on stalled deals.
      x-ai-capabilities:
        confirmation:
          type: None
        security_info:
          data_handling:
          - ReadOnly
    servers:
    - url: https://api.sendpulse.com/crm/v1
  /contacts/{contactId}/comments:
    post:
      tags:
      - Contacts
      summary: Add a note to a contact
      description: Adds a note to the specified contact
      parameters:
      - name: contactId
        in: path
        required: true
        description: Contact ID to which you want to add a note. It can be obtained with the "Get a list of contacts" method
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                message:
                  type: string
                  minLength: 1
                  description: Note message. The maximum number of characters is 65,535
              required:
              - message
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/ContactComment'
      operationId: addContactComment
      x-ai-role: crm_relationship_manager
      x-ai-description: Adds a persistent internal note to a specific CRM contact. Notes serve as a chronological communication log visible only to team members — not the contact — enabling context sharing between agents, support staff, and sales reps across interactions.
      x-ai-reasoning-instructions:
      - Verify the contactId is valid before submitting — use 'Get a list of contacts' if the ID is uncertain.
      - Notes are internal only; never use this endpoint to send a message to the contact.
      - Ensure the message is meaningful and actionable — generic notes reduce CRM signal quality.
      - Check that the message length does not exceed 65,535 characters before sending.
      x-ai-responding-instructions:
      - Confirm the note was added successfully and reference the contact it was attached to.
      - If the contactId is not found, suggest retrieving the correct ID via the contacts list endpoint.
      - Suggest adding follow-up notes or scheduling a task as a logical next step.
      x-ai-suggestions:
      - Called on 2024-03-15, expressed interest in premium plan — follow up next week.
      - 'Support ticket #4821 resolved. Customer confirmed satisfaction.'
      - Do not send promotional emails — opted out verbally during call.
      x-ai-capabilities:
        confirmation:
          type: None
        security_info:
          data_handling:
          - ResourceStateUpdate
    servers:
    - url: https://api.sendpulse.com/crm/v1
  /contacts/{contactId}/comments/{commentId}:
    put:
      tags:
      - Contacts
      summary: Update contact note
      description: Updates the note of the specified contact. Provided property values will be overwritten.
      parameters:
      - name: contactId
        in: path
        required: true
        description: Contact ID contact for which you want to update the note. It can be obtained with the "Get a list of contacts" method
        schema:
          type: integer
      - name: commentId
        in: path
        required: true
        description: Note ID you want to update. It can be obtained with the "Get a list of contacts" method
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              properties:
                message:
                  type: string
                  minLength: 1
                  description: New note message. The maximum number of characters is 65,535
              required:
              - message
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/ContactComment'
      operationId: updateContactComment
      x-ai-role: crm_data_quality_specialist
      x-ai-description: 'Updates the text of an existing note attached to a specific contact. Notes (comments) serve as internal team annotations — sales context, call outcomes, follow-up reminders. Overwriting is full replacement: any prior text is lost, so this action should be used deliberately.'
      x-ai-reasoning-instructions:
      - Confirm the contactId and commentId are valid before sending — both can be retrieved from the 'Get a list of contacts' response.
      - Since the update fully overwrites the existing message, ask the user to confirm they have the current note content if they want to append rather than replace.
      - Check that the message does not exceed 65,535 characters before sending to avoid a validation error.
      - If the intent is to delete a note rather than update it, inform the user that a dedicated delete endpoint may exist.
      x-ai-responding-instructions:
      - Confirm success by referencing the contactId and commentId that were updated.
      - If the user appended text to the old note, remind them the old content is no longer stored.
      - Suggest reviewing the contact's full note history if multiple comments are being managed.
      x-ai-suggestions:
      - Spoke with client on 2024-03-20, moved to negotiation stage.
      - Follow-up scheduled for next week. Awaiting procurement approval.
      - Corrected entry — previous note contained outdated information.
      x-ai-capabilities:
        confirmation:
          type: Recommended
          reason: Fully overwrites the existing note — previous content is permanently lost.
        security_info:
          data_handling:
          - ResourceStateUpdate
          - IrreversibleOverwrite
    delete:
      tags:
      - Contacts
      summary: Remove contact note
      description: Removes a note of a specified contact
      parameters:
      - name: contactId
        in: path
        required: true
        description: Contact ID for which you want to remove the note. It can be obtained with the "Get a list of contacts" method
        schema:
          type: integer
      - name: commentId
        in: path
        required: true
        description: Note ID you want to remove. It can be obtained with the "Get a list of contacts" method
        schema:
          type: integer
      responses:
        '204':
          description: Successfully deleted
      operationId: deleteContactComment
      x-ai-role: crm_data_steward
      x-ai-description: Permanently removes a specific note from a contact record. Notes store contextual history added by agents or users — deletion is irreversible and should be used for privacy cleanup, data correction, or removal of stale context that could mislead future interactions.
      x-ai-reasoning-instructions:
      - Confirm both contactId and commentId before proceeding — there is no recovery after deletion.
      - Check whether the note is referenced in any recent activity log or workflow before removing.
      - If the user wants to 'clear all notes', warn that this endpoint removes only one note at a time — loop carefully.
      x-ai-responding-instructions:
      - Confirm deletion by echoing both the contactId and commentId that were removed.
      - Mention that the action is irreversible and no backup exists.
      - Suggest using 'Get a list of contacts' to verify the note no longer appears if confirmation is needed.
      x-ai-capabilities:
        confirmation:
          type: Recommended
          message: This will permanently delete note {commentId} from contact {contactId}. This action cannot be undone.
        security_info:
          data_handling:
          - IrreversibleDelete
    servers:
    - url: https://api.sendpulse.com/crm/v1
  /contacts/{contactId}/edu-payments:
    get:
      tags:
      - Contacts
      summary: Get EDU payments by contact
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            courseId:
                              type: integer
                            name:
                              type: string
                            price:
                              type: object
                              properties:
                                amount:
                                  type: integer
                                currency:
                                  type: string
                            status:
                              type: integer
                            paymentMethod:
                              type: string
                              enum:
                              - YooMoney
                              - PayPal
                              - Fondy
                              - ROBOKASSA
                              - Stripe
                              - MERCADOPAGO
                              - LiqPay
                            createdAt:
                              type: string
                              format: date-time
      operationId: getContactEduPayments
      x-ai-role: edu_payments_analyst
      x-ai-description: Retrieves the full payment history for a specific contact within the EDU module. Each record reflects a course purchase attempt or completion, including payment method, amount, currency, and current status. Use this to audit monetization activity per learner, detect failed or pending transactions, and inform support decisions.
      x-ai-reasoning-instructions:
      - Verify the contactId belongs to a valid CRM contact before calling — invalid IDs return empty or error.
      - The `status` field is an integer enum; map it to human-readable labels (e.g., 0=pending, 1=completed, 2=failed) using domain knowledge or supplementary documentation.
      - If the list is empty, it may mean the contact has not made any EDU purchases — not that the endpoint failed.
      - When analyzing payments, group by courseId to detect duplicate purchases or retry patterns.
      x-ai-responding-instructions:
      - Summarize the total number of payments found and highlight any non-completed statuses.
      - Present price as a formatted value with currency (e.g., '500 UAH', '9.99 USD').
      - If multiple payment methods are present, note the variety — it may indicate cross-region usage.
      - Suggest follow-up actions such as checking course enrollment status or issuing a refund if failed payments are detected.
      x-ai-suggestions:
      - Use alongside `getContact` to build a complete learner profile with purchase history.
      - Filter results by `status` to identify contacts with failed payments for re-engagement campaigns.
      - Cross-reference `courseId` with the course catalog to enrich payment data with course names and categories.
      x-ai-capabilities:
        confirmation:
          type: None
        security_info:
          data_handling:
          - ReadOnly
          - PII — contact financial data, handle according to data privacy policy
    servers:
    - url: https://api.sendpulse.com/crm/v1
  /contacts/{contactId}/edu-statistic:
    get:
      tags:
      - Contacts
      summary: Get EDU statistics for a contact
      parameters:
      - name: contactId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: object
                    properties:
                      courses:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            status:
                              type: string
                            statusStudentOnCourse:
                              type: string
                            sections:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: integer
                                  name:
                                    type: string
                                  lessons:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        id:
                                          type: integer
                                        name:
                                          type: string
                                        statusStudentOnLesson:
                                          type: object
                                          properties:
                                            status:
                                              type: string
                                            updatedAt:
                                              type: string
                            tests:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  score:
                                    type: string
      operationId: getContactEduStatistic
      x-ai-role: edu_progress_analyst
      x-ai-description: Retrieves a full snapshot of a contact's educational journey within the EDU platform — including course enrollment statuses, section/lesson completion, and test scores. This is the primary endpoint for auditing individual learning progress, identifying blockers, and triggering re-engagement flows based on actual study behavior.
      x-ai-reasoning-instructions:
      - Verify that the contactId belongs to a contact enrolled in at least one EDU course before interpreting empty results as an error.
      - Distinguish between course-level status (e.g., 'active', 'completed') and student-on-course status — they may reflect different lifecycle states.
      - When analyzing lesson progress, check statusStudentOnLesson.updatedAt to assess recency of activity and identify stalled learners.
      - Test scores are returned as strings — handle potential null or non-numeric values before performing comparisons or aggregations.
      x-ai-responding-instructions:
      - Summarize overall progress per course before diving into section/lesson details.
      - Highlight any lessons or sections where progress has stalled (no recent updatedAt activity).
      - If test scores are available, present them alongside pass/fail context if thresholds are known.
      - If the response contains no courses, clarify that the contact may not be enrolled in any EDU courses rather than implying an error.
      x-ai-suggestions:
      - Use this endpoint before sending a re-engagement email to check if the contact is genuinely inactive.
      - Combine with contact profile data to build personalized course completion reports.
      - Cross-reference statusStudentOnCourse with lesson-level statuses to detect partial completions.
      x-ai-capabilities:
        confirmation:
          type: None
        security_info:
          data_handling:
          - ReadOnly
    servers:
    - url: https://api.sendpulse.com/crm/v1
  /contacts/external/{externalContactId}:
    get:
      tags:
      - Contacts
      summary: Get contact exists by external contact Id
      parameters:
      - name: externalContactId
        in: path
        required: true
        description: External contact id from another source system
        schema:
          type: integer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      data:
                        $ref: '#/components/schemas/Contact'
      operationId: getContactByExternalId
      x-ai-role: crm_integration_specialist
      x-ai-description: Looks up a SendPulse contact using an ID from an external system (e.g., your CRM, e-commerce platform, or data warehouse). This is the bridge endpoint for cross-system identity resolution — it lets you avoid storing SendPulse-internal IDs in your own database by querying via the ID you already own.
      x-ai-reasoning-instructions:
      - Use this endpoint when the caller has an external system ID but not the SendPulse contact ID.
      - If the response returns no contact, suggest verifying that the external ID was previously linked during contact creation or update.
      - Prefer this over a full contact search when the external ID mapping is known — it is more precise and avoids pagination overhead.
      - Consider caching the resolved SendPulse contact ID on your side to reduce repeated lookups.
      x-ai-responding-instructions:
      - Return the resolved contact object and highlight the SendPulse contact ID for the user.
      - If the contact is not found (404 or empty data), explain that the external ID may not have been mapped in SendPulse yet.
      - Suggest follow-up actions such as updating contact data or triggering a flow based on the resolved contact.
      x-ai-suggestions:
      - Use the returned contact ID with `updateContact` to sync field changes from your source system.
      - If the contact is not found, use `createContact` with the same externalContactId to establish the mapping.
      - Chain with `getContactDeals` or `getContactTasks` for a full CRM context view.
      x-ai-capabilities:
        confirmation:
          type: None
        security_info:
          data_handling:
          - ReadOnly
    servers:
    - url: https://api.sendpulse.com/crm/v1
  /contacts/messenger-external/{messengerContactId}:
    get:
      tags:
      - Contacts
      summary: Get contact by messenger contact id
      parameters:
      - name: messengerContactId
        in: path
        required: true
        description: External contact id from messenger
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      data:
                        $ref: '#/components/schemas/Contact'
      operationId: getContactByMessengerExternalId
      x-ai-role: crm_integration_specialist
      x-ai-description: Resolves a CRM contact record using a messenger-side identifier. This is the bridge endpoint between external chat platforms (e.g., Telegram, Facebook Messenger) and the SendPulse CRM — use it when you have a messenger user ID but need the full CRM contact profile to read history, tags, or custom fields.
      x-ai-reasoning-instructions:
      - Use this endpoint when the available identifier is a messenger contact ID, not a CRM-native contact ID.
      - Verify that the messengerContactId originates from a connected messenger integration; unregistered IDs will return 404.
      - If the goal is to enrich or update the contact after lookup, follow up with a PATCH/PUT contact endpoint using the returned CRM contact ID.
      x-ai-responding-instructions:
      - Confirm which contact was resolved by referencing their name or email from the response.
      - If the contact is not found, clarify that the messenger contact may not be linked to any CRM record yet and suggest triggering a conversation flow to capture it.
      - Surface the internal CRM contact ID from the response so the user can reference it in subsequent operations.
      x-ai-suggestions:
      - After retrieving the contact, use the CRM contact ID to fetch their deal pipeline or tag history.
      - If lookup fails, consider using the contact search endpoint with messenger channel filters as a fallback.
      x-ai-capabilities:
        confirmation:
          type: None
        security_info:
          data_handling:
          - ReadOnly
    servers:
    - url: https://api.sendpulse.com/crm/v1
  /contacts/{contactId}/relation/{companyId}:
    post:
      tags:
      - Contacts
      summary: Add contact to a company
      parameters:
      - name: contactId
        in: path
        required: true
        description: Contact ID you want to add to the company. It can be obtained with the "Get a list of contacts" method
        schema:
          type: integer
      - name: companyId
        in: path
        required: true
        description: Company ID you want to add to the contact. It can be obtained with the "Get a list of company" method
        schema:
          type: integer
      responses:
        '200':
          description: Contact successfully added to a company
      operationId: addContactCompanyRelation
      x-ai-role: crm_relationship_manager
      x-ai-description: Establishes a many-to-one relationship between a contact and a company in the CRM graph. This is not just a tag — it links the contact to the company's hierarchy, enabling company-level analytics, bulk actions, and deal attribution across all contacts belonging to that company.
      x-ai-reasoning-instructions:
      - Verify that both contactId and companyId exist before attempting to link — use 'Get a list of contacts' and 'Get a list of company' to resolve IDs if only names are provided.
      - Check whether the contact is already linked to this company to avoid duplicate relation requests.
      - If linking multiple contacts to the same company, consider whether a bulk operation is available instead of sequential calls.
      x-ai-responding-instructions:
      - Confirm the relation was created by restating which contact was linked to which company.
      - Suggest following up with 'Get contact details' to verify the updated company association.
      - If either ID is invalid or the relation already exists, explain clearly and offer to look up the correct IDs.
      x-ai-suggestions:
      - Use 'Get a list of contacts' to find contactId by name or email before calling this endpoint.
      - Use 'Get a list of company' to resolve companyId by company name.
      - After linking, consider updating the contact's role or deal stage within that company.
      x-ai-capabilities:
        confirmation:
          type: Recommended
          message: 'You are about to link contact #{contactId} to company #{companyId}. Confirm?'
        security_info:
          data_handling:
          - RelationshipCreate
    delete:
      tags:
      - Contacts
      summary: Delete a contact from the company
      parameters:
      - name: contactId
        in: path
        required: true
        description: Contact ID you want to delete from the company. It can be obtained with the "Get a list of contacts" method
        schema:
          type: integer
      - name: companyId
        in: path
        required: true
        description: Company ID you want to delete from the contact. It can be obtained with the "Get a list of company" method
        schema:
          type: integer
      responses:
        '200':
          description: Contact successfully deleted from the company
      operationId: deleteContactCompanyRelation
      x-ai-role: crm_relationship_manager
      x-ai-description: Removes the association between a specific contact and a company in the CRM. This is a structural operation that affects the contact's organizational affiliation — it does not delete the contact or the company, only the link between them. Use when a contact changes employer, leaves a company, or was incorrectly assigned.
      x-ai-reasoning-instructions:
      - Before proceeding, confirm that both the contactId and companyId are valid and that the relation actually exists — otherwise the operation may fail silently or return a misleading error.
      - 'Warn the user that this is irreversible: the relation must be re-created manually if removed by mistake.'
      - If the intent is to reassign the contact to a different company, advise creating the new relation first before deleting this one.
      x-ai-responding-instructions:
      - Confirm that the contact has been successfully unlinked from the company, mentioning both IDs.
      - Clarify that neither the contact nor the company record was deleted — only the relationship was removed.
      - Suggest verifying the contact's current company associations using 'Get a list of contacts' if the user needs to confirm the resulting state.
      x-ai-suggestions:
      - Use 'Get a list of contacts' to retrieve the contactId before calling this endpoint.
      - Use 'Get a list of company' to retrieve the companyId before calling this endpoint.
      - After deletion, consider creating a new relation if the contact should be linked to a different company.
      x-ai-capabilities:
        confirmation:
          type: Recommended
          message: This will permanently remove the contact-company association. Proceed?
        security_info:
          data_handling:
          - RelationshipDeletion
    servers:
    - url: https://api.sendpulse.com/crm/v1
  /contacts/get:
    get:
      summary: Get contact info via a contact ID
      description: 'Returns information on the selected contact: bot and contact ID, information from Facebook, list of tags and variables, activity data and date added'
      security:
      - oAuth2ClientCredentials: []
      tags:
      - Contacts
      parameters:
      - in: query
        name: id
        required: true
        schema:
          type: string
        description: Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact.
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/Contact_2'
                type: object
      operationId: getContact
      x-ai-role: crm_data_analyst
      x-ai-description: Retrieves a complete profile snapshot of a single chatbot contact by their internal ID. This is the authoritative source for contact state — combining identity data from the connected platform (e.g. Facebook), enriched variables, tags, and engagement history. Use this before personalizing messages or evaluating automation eligibility.
      x-ai-reasoning-instructions:
      - Ensure the contact ID is valid and was obtained from a prior search or account UI — it is not the same as a platform user ID.
      - If the upstream intent is to personalize a message, fetch this endpoint first to verify current variable values and tag state.
      - If the response returns no data or a 404-equivalent, suggest the user verify the contact ID or search by tag/variable instead.
      x-ai-responding-instructions:
      - 'Surface the most actionable fields first: contact ID, bot ID, tags, and variables.'
      - If activity data is present, highlight last-seen or last-interaction timestamp to give context on contact engagement.
      - If the contact has no tags or variables, suggest adding them as a next step for segmentation.
      x-ai-suggestions:
      - Use the returned tag list to evaluate which automation flows this contact is eligible for.
      - Cross-reference variables with campaign conditions before triggering a sequence.
      - If you need to find the contact ID, use a contact search by tag or variable first.
      x-ai-capabilities:
        confirmation:
          type: None
        security_info:
          data_handling:
          - ReadOnly
    servers:
    - description: ''
      url: https://api.sendpulse.com/messenger
  /contacts/getByTag:
    get:
      summary: Get a list of contacts by tag
      description: Returns a list of contacts by tag for the specified bot
      security:
      - oAuth2ClientCredentials: []
      tags:
      - Contacts
      parameters:
      - in: query
        name: tag
        required: true
        schema:
          type: string
        description: created contact’s tag to search by
      - in: query
        name: bot_id
        required: true
        schema:
          type: string
        description: Bot ID. Can be obtained with a method of getting a list of bots. You can also find it in your account in the address bar of a chat window with the desired contact.
      - in: query
        name: size
        description: The limit of pagination items, that will be returned
        schema:
          type: integer
      - in: query
        name: skip
        description: The offset of pagination items, where starts a current items batch
        schema:
          type: integer
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact_2'
                type: object
      operationId: getContactsByTag
      x-ai-role: chatbot_audience_analyst
      x-ai-description: Retrieves a filtered subset of bot contacts grouped by a specific tag. Tags in SendPulse chatbots act as behavioral or segmentation labels assigned during flows or manually. This endpoint is the primary way to build targeted audiences for broadcast campaigns, re-engagement flows, or CRM export — without iterating over the full contact list.
      x-ai-reasoning-instructions:
      - Before calling, confirm the bot_id is valid by cross-referencing with the list of available bots.
      - Ensure the tag value matches exactly — tags are case-sensitive and must already exist on at least one contact.
      - If the user wants all contacts with a tag, omit 'size' and 'skip' on first call, then paginate if the result set is large.
      - Use 'skip' + 'size' for pagination — calculate total pages based on result count vs. requested size.
      - If 0 contacts are returned, suggest verifying the tag spelling or checking whether contacts were tagged via the correct flow.
      x-ai-responding-instructions:
      - Report the number of contacts returned and whether pagination is likely needed.
      - If the list is empty, suggest checking tag assignment logic in the bot flow.
      - Highlight key contact fields (e.g., ID, name, last activity) to orient the user.
      - Suggest follow-up actions such as sending a broadcast to this segment or exporting to CRM.
      x-ai-suggestions:
      - Use this endpoint to build a segment before triggering a targeted broadcast.
      - Combine with pagination (size=50, skip=0) for large tag audiences.
      - Tag names like 'vip', 'trial_expired', or 'webinar_registered' are common segmentation patterns.
      x-ai-capabilities:
        confirmation:
          type: None
        security_info:
          data_handling:
          - ReadOnly
    servers:
    - description: ''
      url: https://api.sendpulse.com/messenger
  /contacts/getByVariable:
    get:
      summary: Get a list of contacts by variable
      description: Returns a list of contacts by variable identifier or variable name for the specified bot
      security:
      - oAuth2ClientCredentials: []
      tags:
      - Contacts
      parameters:
      - in: query
        name: variable_id
        schema:
          type: string
        description: Contact's variable ID
      - in: query
        name: variable_name
        schema:
          type: string
        description: Сontact variable name to search by
      - in: query
        name: bot_id
        schema:
          type: string
        description: Bot ID. Can be obtained with a method of getting a list of bots. You can also find it in your account in the address bar of a chat window with the desired contact.
      - in: query
        name: variable_value
        required: true
        schema:
          type: string
        description: Contact's variable value
      - in: query
        name: size
        description: The limit of pagination items, that will be returned
        schema:
          type: integer
      - in: query
        name: skip
        description: The offset of pagination items, where starts a current items batch
        schema:
          type: integer
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact_2'
                type: object
      operationId: getContactsByVariable
      x-ai-role: chatbot_crm_specialist
      x-ai-description: Enables targeted lookup of bot contacts by a specific variable value — useful for segmentation, personalization pipelines, and triggering flows based on contact attributes. Unlike a general contact list, this endpoint finds contacts who match a precise data condition (e.g., all contacts where `plan = 'pro'` or `city = 'Kyiv'`), making it essential for data-driven automation.
      x-ai-reasoning-instructions:
      - Either `variable_id` or `variable_name` must be provided alongside `variable_value` — clarify with the user if both are missing.
      - If `bot_id` is not provided, ask the user to specify which bot to search in, since variables are bot-scoped.
      - Use `size` and `skip` for paginated retrieval when the result set may be large; default page size is usually 10–25.
      - Variable names and values are case-sensitive — confirm exact casing with the user if no results are returned.
      - If the user wants to find contacts for a campaign segment, suggest chaining this with a messaging or tagging operation.
      x-ai-responding-instructions:
      - Report how many contacts were found matching the variable condition.
      - If the result is empty, suggest verifying the variable name/value spelling or checking if the variable exists for that bot.
      - If pagination was used, remind the user that more records may exist and suggest incrementing `skip`.
      - Highlight key contact identifiers (e.g., contact ID, name) from the result to help the user proceed.
      x-ai-suggestions:
      - Search by `variable_name=plan` and `variable_value=premium` to find premium subscribers.
      - Use `skip=0&size=50` for the first page of results.
      - Chain with a send-message endpoint to target the returned contacts directly.
      x-ai-capabilities:
        confirmation:
          type: None
        security_info:
          data_handling:
          - ReadOnly
    servers:
    - description: ''
      url: https://api.sendpulse.com/messenger
  /contacts/sendText:
    post:
      summary: Send a text message to a contact
      description: Sends a text message to the specified contact
      security:
      - oAuth2ClientCredentials: []
      tags:
      - Contacts
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              properties:
                contact_id:
                  type: string
                  description: Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact.
                message_type:
                  type: string
                  enum:
                  - MESSAGE_TAG
                  - RESPONSE
                  description: ''
                  example: RESPONSE
                message_tag:
                  $ref: '#/components/schemas/Campaign/properties/message_tag'
                text:
                  type: string
                  description: Message text to send, maximum characters -, may include emoji
              required:
              - contact_id
              - message_type
              - tag
              - text
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      operationId: sendTextToContact
      x-ai-role: chatbot_communication_specialist
      x-ai-description: Sends a direct text message to a specific contact within a chatbot conversation. This is a real-time messaging action — the message is delivered immediately to the contact's chat window. The message_type field controls whether this is a free-form reply (RESPONSE, valid within the 24-hour messaging window) or a pre-approved template outside that window (MESSAGE_TAG). Choosing the wrong type will result in a policy violation or delivery failure.
      x-ai-reasoning-instructions:
      - Verify that contact_id is valid and belongs to an active contact — use contact search by tag or variable if needed.
      - 'Check message_type: use RESPONSE only if the contact has sent a message within the last 24 hours; otherwise use MESSAGE_TAG with an appropriate tag.'
      - If message_type is MESSAGE_TAG, ensure message_tag is provided and corresponds to an approved use case.
      - Validate that the text does not exceed the platform character limit and is properly encoded (emoji are supported).
      - Do not send sensitive data (passwords, tokens, PII) as plain text in the message body.
      x-ai-responding-instructions:
      - Confirm the message was sent successfully and mention the contact_id it was delivered to.
      - If message_type was MESSAGE_TAG, note which tag was used for auditing purposes.
      - If the request fails due to a 24-hour window constraint, suggest switching to MESSAGE_TAG with a suitable tag.
      - If contact_id is not found, recommend using the contact search endpoint to retrieve the correct ID.
      x-ai-suggestions:
      - Use RESPONSE type for replies within active conversation windows.
      - Use MESSAGE_TAG with 'POST_PURCHASE_UPDATE' for order-related follow-ups outside the 24h window.
      - Combine with contact search endpoints to dynamically resolve contact_id before sending.
      x-ai-capabilities:
        confirmation:
          type: Recommended
          message: You are about to send a message directly to a contact. Confirm the text content and recipient before proceeding.
        security_info:
          data_handling:
          - ExternalDelivery
          - UserFacing
    servers:
    - description: ''
      url: https://api.sendpulse.com/messenger
  /contacts/send:
    post:
      summary: Send message to a contact
      description: Sends message to the specified contact
      security:
      - oAuth2ClientCredentials: []
      tags:
      - Contacts
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              properties:
                contact_id:
                  type: string
                  description: Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact.
                message:
                  properties:
                    type:
                      type: string
                      enum:
                      - UPDATE
                      - RESPONSE
                      - MESSAGE_TAG
                      description: ''
                      example: RESPONSE
                    tag:
                      type: string
                      enum:
                      - HUMAN_AGENT
                      - CUSTOMER_FEEDBACK
                      description: ''
                      example: HUMAN_AGENT
                    content_type:
                      type: string
                      enum:
                      - message
                      - media_img
                      - media_file
                      - template
                      description: Type of data sent
                      example: message
                    text:
                      type: string
                      description: The parameter is required if the `content_type` parameter is equal to `message`
                      example: Hello world!
                    img:
                      type: sting
                      description: The parameter is required if the `content_type` parameter is equal to `media_img`
                      example: https://www.spcdn.org/images/promo-logo/correct/sendpulse-logo-13.png
                    file:
                      type: string
                      description: The parameter is required if the `content_type` parameter is equal to `media_file`
                      example: https://www.spcdn.org/images/promo-logo/correct/sendpulse-logo-13.png
                    data:
                      type: object
                      description: The paramater is required if the `content_type` paramater is equal to `template`
                      properties:
                        attachment:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                              - template
                            payload:
                              type: object
                              properties:
                                template_type:
                                  type: string
                                  enum:
                                  - generic
                                elements:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      title:
                                        type: string
                                      subtitle:
                                        type: string
                                      image_url:
                                        type: string
                                        example: https://www.spcdn.org/images/promo-logo/correct/sendpulse-logo-13.png
                                      buttons:
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            type:
                                              type: string
                                              enum:
                                              - web_url
                                              - postback
                                            title:
                                              type: string
                                            url:
                                              type: string
                  type: object
                  required:
                  - type
                  - content_type
              required:
              - contact_id
              - message
            examples:
              Send a text message:
                value:
                  contact_id: string
                  message:
                    type: RESPONSE
                    tag: CUSTOMER_FEEDBACK
                    content_type: message
                    text: Hello world!
              Send a message with a file:
                value:
                  contact_id: string
                  message:
                    type: RESPONSE
                    tag: CUSTOMER_FEEDBACK
                    content_type: media_file
                    file: https://www.spcdn.org/images/promo-logo/correct/sendpulse-logo-13.png
              Send a message with an image:
                value:
                  contact_id: string
                  message:
                    type: RESPONSE
                    tag: CUSTOMER_FEEDBACK
                    content_type: media_img
                    img: https://www.spcdn.org/images/promo-logo/correct/sendpulse-logo-13.png
              Send a message with a carousel:
                value:
                  contact_id: string
                  message:
                    type: RESPONSE
                    tag: CUSTOMER_FEEDBACK
                    content_type: template
                    data:
                      attachment:
                        type: template
                        payload:
                          template_type: generic
                          elements:
                          - title: Example title
                            subtitle: Example subtitle
                            image_url: https://example.com/image.png
                            buttons:
                            - type: web_url
                              title: Example button
                              url: https://example.com/
              Send a message with url button:
                value:
                  contact_id: string
                  message:
                    type: RESPONSE
                    tag: CUSTOMER_FEEDBACK
                    content_type: template
                    data:
                      attachment:
                        type: template
                        payload:
                          template_type: generic
                          elements:
                          - title: Example title
                            buttons:
                            - type: web_url
                              title: Example button
                              url: https://example.com/
              Send a message with payload button:
                value:
                  contact_id: string
                  message:
                    type: RESPONSE
                    tag: CUSTOMER_FEEDBACK
                    content_type: template
                    data:
                      attachment:
                        type: template
                        payload:
                          template_type: generic
                          elements:
                          - title: Example title
                            buttons:
                            - type: postback
                              title: Example button
                              data:
                                chain: string
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      operationId: sendContactMessage
      x-ai-role: chatbot_communication_specialist
      x-ai-description: Delivers a direct message to a specific chatbot contact identified by contact_id. This endpoint is the primary outbound channel for agent-initiated or automated communication — not just a message sender, but a dispatch mechanism that supports rich formats (text, media, carousel templates) and Facebook Messenger delivery rules (message type determines if the message can be sent outside the 24h window). Choosing the wrong `type` can result in policy violations on the platform side.
      x-ai-reasoning-instructions:
      - Always resolve `contact_id` before calling — it is not a human-readable identifier. Use contact search by tag or variable if only a name/email is known.
      - 'Match `type` to the business context: use `RESPONSE` for replies within the 24h window, `MESSAGE_TAG` with an appropriate `tag` for out-of-window messages, and `UPDATE` only for subscription-based updates.'
      - 'Validate that `content_type` and its corresponding payload field are consistent: if `content_type` is `message`, `text` must be present; `media_img` requires `img`; `media_file` requires `file`; `template` requires `data.attachment`.'
      - For `template` messages, ensure `elements` array is non-empty and each element has at least a `title`.
      - Avoid using `HUMAN_AGENT` tag unless a live agent is actually taking over the conversation — misuse may violate platform policies.
      x-ai-responding-instructions:
      - Confirm that the message was dispatched successfully without repeating raw response fields.
      - If the message type was `MESSAGE_TAG`, mention which tag was used and why it was appropriate.
      - If an error occurs, identify whether the cause is an invalid `contact_id`, an incompatible `type`/`content_type` combination, or a platform-side policy rejection, and suggest a concrete fix.
      - After a successful send, suggest checking contact activity or setting up a follow-up flow as next steps.
      x-ai-suggestions:
      - Use type=RESPONSE for standard replies within the active conversation window.
      - Use type=MESSAGE_TAG with tag=HUMAN_AGENT when a human agent is intervening.
      - Use content_type=template with generic carousel for rich product or menu presentations.
      - Retrieve contact_id via the contact search endpoint before calling this operation.
      x-ai-capabilities:
        confirmation:
          type: recommended
          message: You are about to send a message directly to a contact. Confirm the content and contact before dispatching.
        security_info:
          data_handling:
          - ExternalMessageDispatch
          - ContactInteraction
    servers:
    - description: ''
      url: https://api.sendpulse.com/messenger
  /contacts/sendTyping:
    post:
      summary: Send typing indicator
      description: Initiate typing indicator for the specified contact.
      security:
      - oAuth2ClientCredentials: []
      tags:
      - Contacts
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - contact_id
              properties:
                contact_id:
                  type: string
                  description: The unique identifier of the contact to whom the typing indicator will be sent.
            example:
              contact_id: string
      responses:
        '200':
          description: Indicates whether the typing indicator was successfully sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      operationId: sendTypingIndicator
      x-ai-role: chatbot_engagement_specialist
      x-ai-description: Triggers a transient 'typing...' signal in the contact's chat interface before the actual message is sent. This simulates human-like interaction latency, reducing perceived automation and increasing conversational trust. Particularly effective in chatbot scenarios where an immediate bot reply feels unnatural — injecting a short typing indicator before a response significantly improves UX and open/reply rates.
      x-ai-reasoning-instructions:
      - Always send the typing indicator immediately before dispatching the actual message, not as a standalone UX gesture.
      - Verify the contact_id is valid and the contact is reachable before triggering the indicator to avoid silent failures.
      - Consider the messaging channel context — typing indicators may behave differently or not be supported across all chatbot integrations.
      - Do not send the indicator repeatedly in a loop; one invocation per conversational turn is sufficient.
      x-ai-responding-instructions:
      - Confirm that the typing indicator was successfully dispatched and clarify that it is a transient signal, not a message.
      - Suggest following up immediately with the actual message send operation to complete the interaction flow.
      - If the call fails, check whether the contact_id is correct and whether the contact's channel supports typing indicators.
      x-ai-suggestions:
      - Use this before `sendMessage` to create a natural conversation rhythm.
      - Combine with a short delay (1–3 seconds) before sending the actual message for a more human-like experience.
      x-ai-capabilities:
        confirmation:
          type: None
        security_info:
          data_handling:
          - TransientSignal
    servers:
    - description: ''
      url: https://api.sendpulse.com/messenger
  /contacts/setVariable:
    post:
      summary: Assign a variable to contact
      description: Adds or updates the value of a variable for the selected contact.
      security:
      - oAuth2ClientCredentials: []
      tags:
      - Contacts
      requestBody:
        description: Choose one of available request body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - contact_id
              - variables
              properties:
                contact_id:
                  type: string
                  description: Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact.
                variables:
                  type: array
                  description: api.paths.contacts.setVariable.parameters.variables
                  items:
                    oneOf:
                    - type: object
                      required:
                      - variable_name
                      - variable_value
                      properties:
                        variable_name:
                          type: string
                          description: Name of the variable
                        variable_value:
                          description: The value that is set for the variable
                          anyOf:
                          - type: string
                          - type: number
                          - type: boolean
                    - type: object
                      required:
                      - variable_id
                      - variable_value
                      properties:
                        variable_id:
                          type: string
                          description: The ID of the created variable can be obtained via other methods
                        variable_value:
                          description: The value that is set for the variable
                          anyOf:
                          - type: string
                          - type: number
                          - type: boolean
            examples:
              Set by variable name:
                value:
                  contact_id: string
                  variables:
                  - variable_name: string
                    variable_value: string
                  - variable_name: string
                    variable_value: string
              Set by variable ID:
                value:
                  contact_id: string
                  variables:
                  - variable_id: string
                    variable_value: string
                  - variable_id: string
                    variable_value: string
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      operationId: setContactVariable
      x-ai-role: crm_data_specialist
      x-ai-description: This endpoint writes or overwrites a structured data field on a specific contact profile. In SendPulse chatbots, variables are the primary mechanism for personalizing flows, segmenting audiences, and storing transactional state (e.g., order ID, last product viewed, subscription tier). Setting a variable at the right moment in a conversation or automation flow is what turns a generic chatbot into a context-aware assistant.
      x-ai-reasoning-instructions:
      - Confirm the contact_id is valid before calling — use a contact search by tag or variable if uncertain.
      - Prefer variable_id over variable_name when available to avoid ambiguity from name collisions or renames.
      - Variables can hold string, number, or boolean values — match the type to what downstream flows or conditions expect.
      - Batch multiple variable assignments in a single request rather than making sequential calls to minimize latency.
      - If overwriting a sensitive variable (e.g., subscription status, payment flag), verify intent — this is a destructive update with no built-in undo.
      x-ai-responding-instructions:
      - Confirm which contact and which variables were updated.
      - If the operation succeeds, suggest verifying the value via a contact lookup or triggering a flow that depends on the variable.
      - If the contact_id is unknown, guide the user toward the contact search endpoints first.
      - Highlight the distinction between variable_name and variable_id approaches so the user understands the trade-offs.
      x-ai-suggestions:
      - Set onboarding_step to 'completed' after a user finishes a bot flow
      - Store an order_id returned from an external webhook into a contact variable for follow-up flows
      - Update subscription_tier when a payment event is received
      x-ai-capabilities:
        confirmation:
          type: Recommended
          message: This will overwrite the current value of the specified variable(s) for the contact. Confirm before proceeding if the variable drives active automation flows.
        security_info:
          data_handling:
          - ContactDataWrite
          - ResourceStateUpdate
    servers:
    - description: ''
      url: https://api.sendpulse.com/messenger
  /contacts/deleteVariable:
    post:
      summary: Delete a variable the selected contact
      description: Delete the value of a variable for the selected contact.
      security:
      - oAuth2ClientCredentials: []
      tags:
      - Contacts
      requestBody:
        description: Choose one of available request body
        required: true
        content:
          application/json:
            schema:
              properties:
                contact_id:
                  type: string
                  description: Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact.
                variable_id:
                  type: string
                  description: The ID of the created variable can be obtained via other methods
                variable_name:
                  type: string
                  description: Name of the variable
              required:
                '0': contact_id
                oneOf:
                - variable_id
                - variable_name
            examples:
              Delete by variable ID:
                value:
                  contact_id: string
                  variable_id: string
              Delete by variable name:
                value:
                  contact_id: string
                  variable_name: string
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      operationId: deleteContactVariable
      x-ai-role: crm_data_hygiene_specialist
      x-ai-description: 'Clears the value of a specific variable for a given contact, effectively removing that data point from their profile. Use this when a contact''s attribute becomes invalid, outdated, or needs to be reset — for example, after a subscription tier change or data correction request. This is a destructive operation on contact-level metadata: the variable definition itself remains intact, only the contact''s value is removed.'
      x-ai-reasoning-instructions:
      - Ensure you have a valid contact_id before proceeding — it can be retrieved via contact search by tag or variable.
      - You must supply either variable_id or variable_name, but not necessarily both; prefer variable_id if available for precision.
      - Do not confuse this endpoint with deleting the variable definition itself — this only removes the value for a specific contact.
      - If the goal is to update a variable value rather than remove it, use the appropriate update endpoint instead.
      - Confirm that the variable actually has a value set for this contact before calling, to avoid unnecessary API calls.
      x-ai-responding-instructions:
      - Confirm that the variable value was successfully removed from the specified contact.
      - Distinguish clearly between 'variable value deleted' and 'variable deleted' to avoid confusion.
      - If the contact or variable is not found, explain how to retrieve valid IDs using contact search or variable listing methods.
      - Suggest verifying the contact's current variable state after deletion if data consistency is critical.
      x-ai-suggestions:
      - Use contact search by tag to obtain contact_id before calling this endpoint.
      - After deletion, call the contact detail endpoint to confirm the variable is cleared.
      - If resetting multiple contacts, consider batching calls and monitoring for rate limits.
      x-ai-capabilities:
        confirmation:
          type: Recommended
          message: This will permanently remove the variable value for the specified contact. Confirm before proceeding.
        security_info:
          data_handling:
          - DestructiveWrite
          - ContactDataModification
    servers:
    - description: ''
      url: https://api.sendpulse.com/messenger
  /contacts/mark-read:
    put:
      summary: Mark messages as read
      description: Mark contact all messages as read (set unread count 0)
      security:
      - oAuth2ClientCredentials: []
      tags:
      - Contacts
      parameters:
      - in: query
        name: contact_id
        schema:
          type: string
        description: Contact’s ID for set unread count as 0
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                    description: Contact messages count marked as read
                type: object
      operationId: markContactMessagesAsRead
      x-ai-role: customer_support_specialist
      x-ai-description: Resets the unread message counter for a specific contact to zero. This is a housekeeping operation that signals all messages in the conversation have been reviewed — typically triggered after a support agent opens and reads a contact's message thread, keeping the inbox state accurate across team members.
      x-ai-reasoning-instructions:
      - Verify that the contact_id exists before calling to avoid silent no-ops.
      - Use this after fetching or displaying contact messages — not as a standalone action.
      - If the unread count is already 0, the call is still safe but redundant; inform the user if appropriate.
      x-ai-responding-instructions:
      - Confirm success by referencing the returned `count` — the number of messages marked as read.
      - If count is 0, note that no unread messages were found for this contact.
      - Suggest fetching the updated contact record to reflect the new unread state in the UI.
      x-ai-suggestions:
      - Call after displaying a contact's message history to auto-clear unread state.
      - Chain with `getContactMessages` to show messages and mark them read in one workflow.
      x-ai-capabilities:
        confirmation:
          type: None
        security_info:
          data_handling:
          - ResourceStateUpdate
    servers:
    - description: ''
      url: https://api.sendpulse.com/messenger
  /contacts/mark-unread:
    put:
      summary: Mark a chat with the contact as unread
      description: Marks the last message of a specific contact as unread.
      security:
      - oAuth2ClientCredentials: []
      tags:
      - Contacts
      parameters:
      - in: query
        name: contact_id
        schema:
          type: string
        description: The ID of the contact whose last message will be marked as unread.
      responses:
        '200':
          description: The number of messages successfully marked as unread.
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                    example: 1
                    description: api.paths.contacts.mark-unread.responses.properties.count
                type: object
      operationId: markContactUnread
      x-ai-role: customer_support_specialist
      x-ai-description: Marks the last message of a contact as unread, effectively flagging the chat for follow-up. This is a workflow management action — it signals to the support team that a conversation requires attention without sending any message. Useful for triaging incoming chats or restoring visibility to conversations that were prematurely dismissed.
      x-ai-reasoning-instructions:
      - Confirm that the contact_id is valid and corresponds to an existing contact before calling.
      - Clarify with the user whether they want to flag this contact for follow-up or simply restore unread state — this helps avoid accidental misuse.
      - Note that only the *last* message is marked unread, not the entire conversation history.
      x-ai-responding-instructions:
      - 'Confirm the action by reporting the returned `count` value (expected: 1).'
      - If count is 0, inform the user that no messages were affected — the contact may have no messages or the chat was already in an unread state.
      - Suggest assigning the contact to an agent or adding a note as a logical next step.
      x-ai-suggestions:
      - Use after reviewing a message to restore it as a reminder to respond later.
      - Combine with contact filtering to batch-flag unanswered chats for a support shift handoff.
      x-ai-capabilities:
        confirmation:
          type: None
        security_info:
          data_handling:
          - ResourceStateUpdate
    servers:
    - description: ''
      url: https://api.sendpulse.com/messenger
  /contacts/setTag:
    post:
      summary: Assign a tag to a contact
      description: Assigns tags to the selected contact
      security:
      - oAuth2ClientCredentials: []
      tags:
      - Contacts
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              properties:
                contact_id:
                  type: string
                  description: Contact ID. Can be obtained with a contact search by tag or variable. You can also find it in your account in the address bar of a chat window with the desired contact.
                tags:
                  type: array
                  description: List of tags to assign to the contact
                  items:
                    type: string
              required:
              - contact_id
              - tags
      responses:
        '200':
          description: Operation successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
      operationId: setContactTag
      x-ai-role: crm_contact_segmentation_specialist
      x-ai-description: Tags are the primary segmentation mechanism for contacts in SendPulse CRM and chatbot flows. Assigning tags enables conditional branching in automation flows, targeted broadcast filtering, and behavioral segmentation. Unlike variables (which store values), tags act as boolean labels — their mere presence on a contact carries semantic meaning used in flow conditions and audience targeting.
[...]
