openapi: 3.2.0
info:
  title: SendPulse Automation 360 Events API
  version: 1.0.0
  description: API for managing and analyzing automation flows (autoflows).
  x-ai-description: 'Automation 360 (A360) is the brain of omnichannel marketing at SendPulse.  It allows for creating complex, event-driven subscriber journeys across email, SMS, Web Push, and Messengers.  This API provides the tools to monitor these journeys, audit performance at a granular element level, and track conversions.

    '
  license:
    name: Apache 2.0
    identifier: Apache-2.0
servers:
- url: https://api.sendpulse.com
  description: Production server
security:
- apiKey: []
- oauth2: []
tags:
- name: Events
  description: Endpoints related to Events.
paths:
  /a360/events/delete-log:
    post:
      tags:
      - Events
      summary: Delete event logs
      operationId: deleteLogs
      x-ai-role: compliance_officer
      x-ai-description: Data retention management for events.
      x-ai-reasoning-instructions:
      - Warn about permanent deletion.
      x-ai-responding-instructions:
      - Confirm log clearing.
      x-ai-suggestions:
      - Identify specific event IDs.
      x-ai-capabilities:
        security_info:
          data_handling:
          - DataDestruction
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'Static API Key authentication.  A long-lived token generated manually in the SendPulse account settings.

        '
      x-ai-description: 'Permanent authentication token. Ideal for simple integrations without token refresh logic.

        '
    oauth2:
      type: oauth2
      description: OAuth 2.0 Client Credentials flow for temporary access tokens.
      flows:
        clientCredentials:
          tokenUrl: https://api.sendpulse.com/oauth/access_token
          scopes: {}
      x-ai-description: 'Standard OAuth 2.0 flow using Client ID and Client Secret.  Provides temporary tokens (valid for 1 hour) for enhanced security.

        '
