openapi: 3.0.1
info:
  title: SendPulse Account Email Blacklist API
  description: REST API for the SendPulse multichannel marketing platform. Covers email address books and bulk campaigns, SMTP transactional email, SMS, web push notifications, chatbots, and Automation 360. All requests are made over HTTPS against https://api.sendpulse.com and authenticated with a Bearer access token obtained via the OAuth2 client_credentials grant at POST /oauth/access_token. Tokens are valid for approximately one hour.
  termsOfService: https://sendpulse.com/legal/terms
  contact:
    name: SendPulse Support
    url: https://sendpulse.com/contacts
  version: '1.0'
servers:
- url: https://api.sendpulse.com
security:
- bearerAuth: []
tags:
- name: Email Blacklist
  description: Global email blacklist management.
paths:
  /blacklist:
    get:
      operationId: listBlacklist
      tags:
      - Email Blacklist
      summary: View blacklisted emails.
      responses:
        '200':
          description: A list of blacklisted emails.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: email
    post:
      operationId: addToBlacklist
      tags:
      - Email Blacklist
      summary: Add emails to the blacklist.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - emails
              properties:
                emails:
                  type: string
                  description: Base64-encoded, comma-separated list of emails.
                comment:
                  type: string
      responses:
        '200':
          description: Emails blacklisted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResult'
    delete:
      operationId: removeFromBlacklist
      tags:
      - Email Blacklist
      summary: Remove emails from the blacklist.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - emails
              properties:
                emails:
                  type: string
                  description: Base64-encoded, comma-separated list of emails.
      responses:
        '200':
          description: Emails removed from blacklist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResult'
components:
  schemas:
    SuccessResult:
      type: object
      properties:
        result:
          type: boolean
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer access token obtained from POST /oauth/access_token using the client_credentials grant.
