openapi: 3.2.0
info:
  description: Using the API for the CRM service, you can integrate your system with CRM from SendPulse and receive detailed information on pipelines, deals, contacts and their attributes and users.
  title: SendPulse CRM Public Messengers types API
  version: 0.1.0
servers:
- url: https://api.sendpulse.com/crm/v1
security:
- apiKey: []
- oauth2: []
tags:
- description: ''
  name: Messengers types
paths:
  /messenger-types:
    get:
      tags:
      - Messengers types
      summary: Get a list of messengers
      description: Returns a list of types of available messengers for contacts
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/MessengerType'
      operationId: getMessengerTypes
      x-ai-role: omnichannel_communication_specialist
      x-ai-description: Returns the catalog of messenger channels available on the account. This is a discovery endpoint — it must be called before any messenger-specific operation to confirm which channels (e.g., Telegram, WhatsApp, Facebook) are active and can be used for contact segmentation or campaign targeting.
      x-ai-reasoning-instructions:
      - Call this endpoint first when the user asks to send a message or create a campaign via a specific messenger — confirm the channel is available before proceeding.
      - Use the returned type identifiers as valid values when filtering contacts by messenger or constructing messenger-specific payloads.
      - If the list is empty or a desired messenger is missing, inform the user that the channel may not be connected to their account.
      x-ai-responding-instructions:
      - List the available messengers by name in a human-readable format, not just raw IDs.
      - If the user was looking for a specific messenger and it is absent, suggest connecting it via account settings.
      - Mention that these types can be used to filter contacts or scope campaigns to a specific channel.
      x-ai-suggestions:
      - Use returned messenger type IDs when calling contact list or campaign endpoints that require a `messenger_type` parameter.
      - Cross-reference with connected integrations in the account if an expected messenger is missing.
      x-ai-capabilities:
        confirmation:
          type: None
        security_info:
          data_handling:
          - ReadOnly
components:
  schemas:
    MessengerType:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/MessengerTypeProperty'
        name:
          type: string
          description: Messenger name
    MessengerTypeProperty:
      type: integer
      description: '| Messenger type. Possible values: * 1 — Telegram * 2 — Facebook * 4 — Instagram * 5 — WhatsApp * 6 — Viber'
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: 'Static API Key authentication.  A long-lived token generated manually in the SendPulse account settings.

        '
      x-ai-description: 'Permanent authentication token. Ideal for simple integrations without token refresh logic.

        '
    outh2:
      type: oauth2
      description: OAuth 2.0 Client Credentials flow for temporary access tokens.
      flows:
        clientCredentials:
          tokenUrl: https://api.sendpulse.com/oauth/access_token
          scopes: {}
      x-ai-description: 'Standard OAuth 2.0 flow using Client ID and Client Secret.  Provides temporary tokens (valid for 1 hour) for enhanced security.

        '
